@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    clear: both;
}

body {
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    background: #e5e5e5;
    clear: both;
}

.gallery {
    width: 640px;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    margin-right: auto;
    margin-left: auto;
    clear: both;
    float: left;
}

    .gallery > div {
        position: relative;
        float: left;
        padding: 5px;
        margin-right: auto;
        margin-left: auto;
        margin: 0 auto;
        clear: both;
    }

        .gallery > div > img {
            display: block;
            width: 200px;
            transition: .1s transform;
            transform: translateZ(0); /* hack */
            margin-right: auto;
            margin-left: auto;
            margin: 0 auto;
            float: left;
            clear: both;
        }

        .gallery > div:hover {
            z-index: 1;
        }

            .gallery > div:hover > img {
                transform: scale(1.7,1.7);
                transition: .3s transform;
                margin: 0 auto;
                float: left;
                clear: both;
            }

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
    float: left;
    clear: both;
}

.cf:after {
    clear: both;
    float: left;
}

h1 {
    margin: 40px 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width: 845px) {

    .gallery {
        color: #fff;
        width: 65%;
        right: 5%;
        left: 30%;
        clear: both;
        
    }

}
